.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 12px 24px;
  background-color: rgb(247, 243, 243);
  border-bottom: 1px solid #f2f4f5;
  gap: 12px;
}

.title {
  font-size: 28px;
}

.date {
  font-size: 16px;
}
